.card{
    min-height: 600px;
    margin-bottom: 30px;
    position: relative;
}

.img-container{
    width: 304px;
    height: 306px;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}